#bio-image{
   width: 200px;
   height: 200px;
}
body{
   background-color: rgb(17, 16, 16);
}
.container{
   background-color: rgb(162, 159, 159);
   margin-top: 40px;
}

.col-lg-6{
   margin-bottom: .5rem;
}